.blockIMG{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    width: 300px;
}

.img{
    width: 300px;
}
.text{
    margin: 10px;
}
.moviSerch{
    display: flex;
}